<div class="container">

  <div class="container-flex flex">

    <div class="title">
      <h3>Exchange Rates</h3>
    </div>

    <div class="container-exchange flex">

      <div class="selectors">

        <div class="row">

          <div class="base-select">
            <label for="base_select" class="label-block">Base: </label>
            <select [(ngModel)]="baseCurrency" name="baseSelect" id="base_select">
              <option *ngFor="let currency of availableCurrencies" [ngValue]="currency">{{currency}}</option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="date-select">
            <label for="date_select" class="label-block">Date: </label>
            <input class="date-picker" type="date" min="{{minDate | date: 'yyyy-MM-dd'}}"
                   max="{{maxDate | date: 'yyyy-MM-dd'}}" name="dateSelect" [ngModel]="date  | date:'yyyy-MM-dd'"
                   (ngModelChange)="date = $event" id="date_select"/>
          </div>
        </div>

        <div class="row">
          <div class="btn">
            <button type="submit" class="btn-custom" (click)="getExchangeRates()">Display</button>
          </div>
        </div>

      </div>


      <div class="table" *ngIf="currencies">
        <table>
          <thead>
          <tr>
            <th class="curr-row" (click)="sort()">
              <span style="display: inline">Currency</span>
              <div class="arrows">
                <div class="arr-up"></div>
                <div class="arrow-down"></div>
              </div>
            </th>
            <th>Buy</th>
            <th>Sell</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let curr of currencies">
            <tr *ngIf="curr.name !== baseCurrency" [ngClass]="{'highlight-row': isAvailable(curr.name)}">
              <td>{{curr.name}}</td>
              <td>{{curr.buy | number : '1.4'}}</td>
              <td>{{curr.sell | number : '1.4'}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>

      <div class="loader-wrap">
        <div class="loader" *ngIf="!currencies"></div>
      </div>

      <div class="fail" *ngIf="failed">
        Failed to load data :(
      </div>

    </div>

  </div>
</div>
