<div class="container">
  <div class="container-flex flex">

    <div class="title">
      <h3>Exchange Rates</h3>
    </div>

    <div class="container-exchange flex">
      <div class="selectors">
        <div class="base-select">
          <label for="base_select" class="label">Base:</label>
          <select [(ngModel)]="baseCurrency" name="baseSelect" id="base_select">
            <option *ngFor="let currency of desiredCurrencies" [ngValue]="currency">{{currency}}</option>
          </select>
        </div>

        <div class="date-select">
          <label for="date_select" class="label">Date:</label>
          <input class="date-picker" type="date" name="dateSelect" [ngModel]="date  | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" id="date_select"/>
        </div>

        <div class="btn">
          <button type="submit" (click)="getExchangeRates()">Display</button>
        </div>
      </div>


      <div class="table">
        <table>
          <thead>
          <tr>
            <td>Curr</td>
            <td>buy</td>
            <td>sell</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>10</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
